body {
  background-color: rgb(92, 90, 90);
}

p {
  font-family: Noto Sans, Arial;
  margin: 0;
  color:rgb(92, 90, 90);
}

audio {
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.dialogue-box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 10px;
  padding: 30px;
}

.pfp {
  width: 100%;
  border-radius: 50%;
}

.pfp-box {
  margin-right: 15px;
  flex: 1;
}

.rumi-q,
.miigo-q {
  border-radius: 8px;
  padding: 15px;
  flex: 7;
  transition: background-color 0.2s;
}

.rumi-q {
  background: rgb(248,229,231);
  background: linear-gradient(170deg, rgba(248,229,231,1) 0%, 
  rgba(247,215,218,1) 35%, rgb(203, 86, 129) 100%);
}

.username {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.usertag {
  font-size: 16px;
  color: gray;
  font-weight: 400;
  margin-left: 5px;
}

.unit-icon {
  height: 25px;
}

.sign {
  height: 100px;
}

.miigo-q {
  background: rgb(249,226,182);
  background: linear-gradient(170deg, rgba(249,226,182,1) 0%, 
  rgba(249,214,148,1) 35%, rgb(155, 110, 33) 100%);
}

.audio-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
