body {
  background: linear-gradient(90deg, rgba(113, 14, 108, 0.7) 0%,
      rgba(120, 18, 196, 0.7) 55%, rgba(28, 17, 103, 0.7) 93%);
}

p {
  font-family: Noto Sans, Arial;
  margin: 0;
  color: rgb(208, 205, 205);
}

audio {
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.event-logo {
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 400px;
}

.dialogue-box {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 10px;
  padding: 30px;
}

.pfp {
  width: 100%;
  border-radius: 50%;
}

.pfp-box {
  margin-right: 15px;
  width: 60px;
}

.q-box {
  border-radius: 15px;
  padding: 15px;
  flex: 1;
  transition: background-color 0.2s;
  background-color: rgba(37, 33, 33, 0.4);
}

.username {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color:aliceblue;
}

.usertag {
  font-size: 16px;
  color: rgb(221, 221, 221);
  font-weight: 400;
  margin-left: 5px;
}

.unit-icon {
  height: 25px;
}

.sign {
  height: 100px;
}


.audio-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
