:root {
  --d4-blend: linear-gradient(90deg, rgba(113, 14, 108, 0.7) 0%,
      rgba(120, 18, 196, 0.7) 55%, rgba(28, 17, 103, 0.7) 93%);

  --ri4-blend: linear-gradient(0deg, rgb(226, 153, 174) 0%,
      rgb(231, 211, 201) 31%, rgb(230, 203, 150) 44%,
      rgba(155, 62, 76, 1) 100%);

  --rondo-blend: linear-gradient(180deg, rgba(229, 185, 218, 1) 0%,
      rgba(70, 92, 167, 1) 80%, rgba(54, 47, 162, 1) 100%);

  --d4-dark: rgba(28, 17, 103, 0.7);
  --ri4-dark: rgb(155, 62, 76);
  --rondo-light: rgb(210, 170, 200);

  --bg: var(--d4-blend);
}

body {
  background: var(--bg);
  line-height: 1.5;
  font-family: Noto Sans, Arial;
  margin: 0;
}

p {
  color: rgb(221, 221, 221);
  margin: 0;
}

audio {
  height: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.theme-pos {
  display: flex;
  justify-content: flex-end;
}
.theme-selector>fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
  width: fit-content;
}

.theme-selector input[type="radio"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--radio-color, currentColor);
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

.theme-selector input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.theme-selector input[type="radio"]#d4 {
  --radio-color: var(--d4-dark);
}

.theme-selector input[type="radio"]#ri4 {
  --radio-color: var(--ri4-dark);
}

.theme-selector input[type="radio"]#rondo {
  --radio-color: var(--rondo-light);
}

:root:has(#ri4:checked) {
  --bg: var(--ri4-blend);
}

:root:has(#rondo:checked) {
  --bg: var(--rondo-blend);
}

.logo {
  display: flex;
  justify-content: center;
}

.event-logo {
  padding: 10px;
  width: 370px;
}

.dialogue-box {
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: center;
}

.pfp {
  width: 100%;
  border-radius: 50%;
}

.pfp-box {
  margin-right: 15px;
  width: 60px;
  min-width: 50px;
}

.q-box {
  flex: 1;
  border-radius: 15px;
  padding: 1rem;
  transition: background-color 0.3s;
  background-color: rgba(48, 43, 43, 0.4);
  max-width: 700px;
  cursor: pointer;
}

.q-box:hover {
  background-color: rgba(10, 10, 10, 0.5);
}

.username {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: aliceblue;
}

.usertag {
  font-size: 16px;
  color: rgb(221, 221, 221);
  font-weight: 400;
  margin-left: 5px;
}

.unit-icon {
  height: 25px;
}

.sign {
  height: 100px;
}


.audio-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.end {
  background-color: rgba(238, 230, 230, 0.6);
  margin: 10px auto;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 20px;
}

.end-message {
  margin-left: 10px;
  margin-right: 10px;
  font-size: small;
  color: black;
}
